* {
  margin: 0px;
  padding: 0px;
}

.action-button {
  background-color: #9400d3;
  height: 90px;
  width: 100px;
  border: none;
  border-radius: 12px;
  margin: 0px 20px;
}

.action-button:active {
  background-color: #551272;
  border: none;
}

.conteudo {
  margin: 0 auto;
  width: 800px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.445);
}
